@mixin layout {
  html {
    background: $light_green;
  }
  body {
    margin: 20px auto;
    width: 660px;
    padding: 10px;
    @include rounded(16px);
    font: 14px/16px Helvetica, Arial, sans-serif;
  }
  
  h1 {
    &#logo {
      float: left;
      a {
        padding: 10px 0;
        color: $green_offset;
        text-decoration: none;
        font: 34px/38px Georgia, serif;
        text-shadow: 2px 2px 0 $dark_green;
      }
    }
  }
  
  h2 {
    font-size: 1.6em;
  }
  
  #header {
    display: block;
    padding: 10px 20px;
    height: 45px;
    background: $green;
    @include rounded;
    h2 {
      float: right;
      margin-top: 10px;
      font-size: 16px;
    }
  }
  
  #container {
    padding: 20px;
  }
  
  .button {
    padding: 5px 10px;
    background: $green;
    @include rounded;
    color: white;
    text-shadow: 0 1px 0 $dark_green;
    text-decoration: none;
    border: none;
    cursor: pointer;
    &:hover {
      background: $dark_green;
    }
  }
  
  .make_one {
    @extend .button;
    display: inline-block;
    float: right;
  }
  
  #fretboard {
    margin: 40px 0;
    padding-left: 50px;
    > li.string {
      width: 100%;
      height: 32px;
      ol.frets {
        > li {
          position: relative;
          float: left;
          margin: 0;
          padding: 0;
          width: 40px;
          height: 30px;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
          ul {
            > li {
              input.fret {
                position: absolute;
                top: -7px;
                left: -29px;
                opacity: 0.3;
                &:checked, &:hover {
                  opacity: 1;                  
                }
              }
              label {
                color: #fff;
              }
              span.finger {
                display: block;
                position: absolute;
                left: -29px;
                top: -5px;
                font-size: 50px;
              }
            }
            > li.hidden {
              display: none;
            }
          }
          &:first-child {
            ul li span.finger {
              top: -5px;
              left: -8px;
            }
            input.fret {
              left: -16px;
            }
          }
        }
      }
      &:nth-child(3) {
        ol.frets > li {
          &:nth-child(3), &:nth-child(7), &:nth-child(10) {
            &:before {
              margin: 15px;
              content: "•";
              font-size: 30px;
              line-height: 35px;
              color: #ccc;
            }
          }
        }
      }
      &:nth-child(1), &:nth-child(5) {
        ol.frets > li {
          &:nth-child(5), &:nth-child(12) {
            &:before {
              margin: 15px;
              content: "•";
              font-size: 30px;
              line-height: 35px;
              color: #ccc;
            }
          }
        }
      }
      &:last-child {
        ol.frets > li {
          padding-left: 1px;
          border-left: 0;
          border-right: 0;

        }
      }
    }
  }
  
  
}