/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Users/nathan/.rvm/gems/ruby-1.8.7-p334@frety/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../../../app/stylesheets/partials/layout.scss */
html {
  background: #b8dc96;
}

/* line 5, ../../../app/stylesheets/partials/layout.scss */
body {
  margin: 20px auto;
  width: 660px;
  padding: 10px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  font: 14px/16px Helvetica, Arial, sans-serif;
}

/* line 14, ../../../app/stylesheets/partials/layout.scss */
h1#logo {
  float: left;
}
/* line 16, ../../../app/stylesheets/partials/layout.scss */
h1#logo a {
  padding: 10px 0;
  color: #f4faef;
  text-decoration: none;
  font: 34px/38px Georgia, serif;
  text-shadow: 2px 2px 0 #38561d;
}

/* line 26, ../../../app/stylesheets/partials/layout.scss */
h2 {
  font-size: 1.6em;
}

/* line 30, ../../../app/stylesheets/partials/layout.scss */
#header {
  display: block;
  padding: 10px 20px;
  height: 45px;
  background: #629632;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 36, ../../../app/stylesheets/partials/layout.scss */
#header h2 {
  float: right;
  margin-top: 10px;
  font-size: 16px;
}

/* line 43, ../../../app/stylesheets/partials/layout.scss */
#container {
  padding: 20px;
}

/* line 47, ../../../app/stylesheets/partials/layout.scss */
.button, .make_one, form.formtastic fieldset > ol > li.commit input[type='submit'], form.formtastic fieldset .tbody > ol > li.commit input[type='submit'] {
  padding: 5px 10px;
  background: #629632;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: white;
  text-shadow: 0 1px 0 #38561d;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
/* line 56, ../../../app/stylesheets/partials/layout.scss */
.button:hover, .make_one:hover, form.formtastic fieldset > ol > li.commit input[type='submit']:hover, form.formtastic fieldset .tbody > ol > li.commit input[type='submit']:hover {
  background: #38561d;
}

/* line 61, ../../../app/stylesheets/partials/layout.scss */
.make_one {
  display: inline-block;
  float: right;
}

/* line 67, ../../../app/stylesheets/partials/layout.scss */
#fretboard {
  margin: 40px 0;
  padding-left: 50px;
}
/* line 70, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string {
  width: 100%;
  height: 32px;
}
/* line 74, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
/* line 85, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li ul > li input.fret {
  position: absolute;
  top: -7px;
  left: -29px;
  opacity: 0.3;
}
/* line 90, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li ul > li input.fret:checked, #fretboard > li.string ol.frets > li ul > li input.fret:hover {
  opacity: 1;
}
/* line 94, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li ul > li label {
  color: #fff;
}
/* line 97, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li ul > li span.finger {
  display: block;
  position: absolute;
  left: -29px;
  top: -5px;
  font-size: 50px;
}
/* line 105, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li ul > li.hidden {
  display: none;
}
/* line 110, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li:first-child ul li span.finger {
  top: -5px;
  left: -8px;
}
/* line 114, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string ol.frets > li:first-child input.fret {
  left: -16px;
}
/* line 123, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string:nth-child(3) ol.frets > li:nth-child(3):before, #fretboard > li.string:nth-child(3) ol.frets > li:nth-child(7):before, #fretboard > li.string:nth-child(3) ol.frets > li:nth-child(10):before {
  margin: 15px;
  content: "•";
  font-size: 30px;
  line-height: 35px;
  color: #ccc;
}
/* line 136, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string:nth-child(1) ol.frets > li:nth-child(5):before, #fretboard > li.string:nth-child(1) ol.frets > li:nth-child(12):before, #fretboard > li.string:nth-child(5) ol.frets > li:nth-child(5):before, #fretboard > li.string:nth-child(5) ol.frets > li:nth-child(12):before {
  position: absolute;
  margin: 15px;
  content: "•";
  font-size: 30px;
  line-height: 35px;
  color: #ccc;
}
/* line 148, ../../../app/stylesheets/partials/layout.scss */
#fretboard > li.string:last-child ol.frets > li {
  padding-left: 1px;
  border-left: 0;
  border-right: 0;
}

  /* -------------------------------------------------------------------------------------------------

  It's *strongly* suggested that you don't modify this file.  Instead, load a new stylesheet after
  this one in your layouts (eg formtastic_changes.css) and override the styles to suit your needs.
  This will allow you to update formtastic.css with new releases without clobbering your own changes.

  This stylesheet forms part of the Formtastic Rails Plugin
  (c) 2008 Justin French

  --------------------------------------------------------------------------------------------------*/
/* NORMALIZE AND RESET - obviously inspired by Yahoo's reset.css, but scoped to just form.formtastic
--------------------------------------------------------------------------------------------------*/
/* line 16, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic, form.formtastic ul, form.formtastic ol, form.formtastic li, form.formtastic fieldset, form.formtastic legend, form.formtastic input, form.formtastic textarea, form.formtastic select, form.formtastic p {
  margin: 0;
  padding: 0;
}

/* line 17, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset {
  border: 0;
}

/* line 18, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic em, form.formtastic strong {
  font-style: normal;
  font-weight: normal;
}

/* line 19, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic ol, form.formtastic ul {
  list-style: none;
}

/* line 20, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic abbr, form.formtastic acronym {
  border: 0;
  font-variant: normal;
}

/* line 21, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 22, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic input, form.formtastic textarea, form.formtastic select {
  font-size: 100%;
}

/* line 23, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic legend {
  white-space: normal;
  color: #000;
}

/* SEMANTIC ERRORS
--------------------------------------------------------------------------------------------------*/
/* line 28, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic ul.errors {
  color: #cc0000;
  margin: 0.5em 0 1.5em 25%;
  list-style: square;
}

/* line 29, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}

/* FIELDSETS & LISTS
--------------------------------------------------------------------------------------------------*/
/* line 36, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset.buttons {
  padding-left: 25%;
}

/* line 38, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset.buttons li {
  float: left;
  padding-right: 0.5em;
}

/* clearfixing the fieldsets */
/* line 41, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset {
  display: inline-block;
}

/* line 42, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 43, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
html[xmlns] form.formtastic fieldset {
  display: block;
}

/* line 44, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
* html form.formtastic fieldset {
  height: 1%;
}

/* INPUT LIs
--------------------------------------------------------------------------------------------------*/
/* line 49, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li {
  margin-bottom: 1.5em;
}

/* clearfixing the li's */
/* line 52, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li {
  display: inline-block;
}

/* line 53, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 54, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
html[xmlns] form.formtastic fieldset > ol > li {
  display: block;
}

/* line 55, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
* html form.formtastic fieldset > ol > li {
  height: 1%;
}

/* LABELS
--------------------------------------------------------------------------------------------------*/
/* line 64, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li label {
  display: block;
  width: 25%;
  float: left;
  padding-top: .2em;
}

/* line 65, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li > li label {
  line-height: 100%;
  padding-top: 0;
}

/* line 66, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li > li label input {
  line-height: 100%;
  vertical-align: middle;
  margin-top: -0.1em;
}

/* NESTED FIELDSETS AND LEGENDS (radio, check boxes and date/time inputs use nested fieldsets)
--------------------------------------------------------------------------------------------------*/
/* line 71, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset {
  position: relative;
}

/* line 72, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend {
  position: absolute;
  width: 95%;
  padding-top: 0.1em;
  left: 0px;
}

/* line 73, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend span {
  position: absolute;
}

/* line 74, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset legend.label label {
  position: absolute;
}

/* line 75, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset ol {
  float: left;
  width: 74%;
  margin: 0;
  padding: 0 0 0 25%;
}

/* line 76, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li fieldset ol li {
  padding: 0;
  border: 0;
}

/* INLINE HINTS
--------------------------------------------------------------------------------------------------*/
/* line 81, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li p.inline-hints {
  color: #666;
  margin: 0.5em 0 0 25%;
}

/* INLINE ERRORS
--------------------------------------------------------------------------------------------------*/
/* line 86, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li p.inline-errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
}

/* line 87, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li ul.errors {
  color: #cc0000;
  margin: 0.5em 0 0 25%;
  list-style: square;
}

/* line 88, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li ul.errors li {
  padding: 0;
  border: none;
  display: list-item;
}

/* STRING & NUMERIC OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 93, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.string input {
  max-width: 74%;
}

/* line 94, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.password input {
  max-width: 13em;
}

/* line 95, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.numeric input {
  max-width: 74%;
}

/* TEXTAREA OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 100, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.text textarea {
  width: 74%;
}

/* HIDDEN OVERRIDES
The dual declarations are required because of our clearfix display hack on the LIs, which is more
specific than the more general rule below. TODO: Revist the clearing hack and this rule.
--------------------------------------------------------------------------------------------------*/
/* line 108, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset ol li.hidden,
html[xmlns] form.formtastic fieldset ol li.hidden {
  display: none;
}

/* BOOLEAN OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 112, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.boolean label {
  padding-left: 25%;
  width: auto;
}

/* line 113, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.boolean label input {
  margin: 0 0.5em 0 0.2em;
}

/* RADIO OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 119, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol {
  margin-bottom: -0.6em;
}

/* line 120, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}

/* line 121, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li label {
  float: none;
  width: 100%;
}

/* line 122, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.radio fieldset ol li label input {
  margin-right: 0.2em;
}

/* CHECK BOXES (COLLECTION) OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 128, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol {
  margin-bottom: -0.6em;
}

/* line 129, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li {
  margin: 0.1em 0 0.5em 0;
}

/* line 130, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label {
  float: none;
  width: 100%;
}

/* line 131, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.check_boxes fieldset ol li label input {
  margin-right: 0.2em;
}

/* DATE & TIME OVERRIDES
--------------------------------------------------------------------------------------------------*/
/* line 139, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li,
form.formtastic fieldset > ol > li.time fieldset ol li,
form.formtastic fieldset > ol > li.datetime fieldset ol li {
  float: left;
  width: auto;
  margin: 0 .3em 0 0;
}

/* line 143, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li label,
form.formtastic fieldset > ol > li.time fieldset ol li label,
form.formtastic fieldset > ol > li.datetime fieldset ol li label {
  display: none;
}

/* line 147, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic.scss */
form.formtastic fieldset > ol > li.date fieldset ol li label input,
form.formtastic fieldset > ol > li.time fieldset ol li label input,
form.formtastic fieldset > ol > li.datetime fieldset ol li label input {
  display: inline;
  margin: 0;
  padding: 0;
}

/* line 2, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic {
  font-size: 13px;
  line-height: 1;
}
/* line 5, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic > fieldset {
  width: 80%;
}
/* line 8, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic.project_search input {
  padding: 4px;
  width: 95%;
  border: 1px solid grey;
}
/* line 13, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset {
  display: block;
}
/* line 16, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li, form.formtastic fieldset .tbody > ol > li {
  display: block;
}
/* line 18, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li.string input, form.formtastic fieldset > ol > li.password input, form.formtastic fieldset > ol > li.text textarea, form.formtastic fieldset .tbody > ol > li.string input, form.formtastic fieldset .tbody > ol > li.password input, form.formtastic fieldset .tbody > ol > li.text textarea {
  padding: 4px;
  max-width: 70%;
  overflow: auto;
  border: 1px solid grey;
}
/* line 28, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li.halved label, form.formtastic fieldset .tbody > ol > li.halved label {
  width: 50%;
}
/* line 32, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li.boolean.heading, form.formtastic fieldset .tbody > ol > li.boolean.heading {
  font-weight: bold;
  padding: 0 0 10px;
}
/* line 35, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li.boolean.heading label, form.formtastic fieldset .tbody > ol > li.boolean.heading label {
  padding: 0;
  font-size: 1.2em;
}
/* line 40, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li input.date_pick, form.formtastic fieldset .tbody > ol > li input.date_pick {
  width: 90px;
}
/* line 43, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset > ol > li input[name*="sid"], form.formtastic fieldset .tbody > ol > li input[name*="sid"] {
  width: 70px;
}
/* line 48, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.buttons {
  display: block;
}
/* line 51, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.dual_column {
  width: 90%;
}
/* line 53, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.dual_column li {
  float: left;
  width: 50%;
}
/* line 58, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table {
  display: table;
  margin-bottom: 15px;
  width: 100%;
}
/* line 62, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table .tbody {
  display: table-row-group;
}
/* line 65, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol {
  display: table-row;
  width: 100%;
  min-height: 24px;
}
/* line 69, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol li {
  display: table-cell;
  padding: 4px;
}
/* line 73, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol li input {
  width: 100%;
}
/* line 76, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol li.sid {
  width: 7%;
}
/* line 79, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol li.labour {
  width: 18%;
}
/* line 83, /Users/nathan/Sites/frety/app/stylesheets/partials/formtastic_changes.scss */
form.formtastic fieldset.table ol.head {
  color: #fff;
}
